<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296768392147-dfmpm8rhf5qvr2e6qviu324s9e85oas3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296768392147-dfmpm8rhf5qvr2e6qviu324s9e85oas3</string>
	<key>API_KEY</key>
	<string>AIzaSyC4iyvyOQmBNxIhtNOrRREGFXFAXQQFPkc</string>
	<key>GCM_SENDER_ID</key>
	<string>296768392147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malchikTV.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messanger-30aab</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-30aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296768392147:ios:e865035f1341762257fd26</string>
</dict>
</plist>